{% extends "layout/base_home.html" %}
{% block content %}
<style>
.reg_input{
	line-height: 25px;
}
</style>
<div class="main-content">
<div class="page-content">
	<div class="page-header position-relative">
	<h4 class="lighter">
		<i class="icon-key"></i>
		找回密码
	</h4>
</div>
<div class="row-fluid">
	<div class="center_register" style="margin-left:20%;">
		<div class="register_area">
			{% if step == 1 %}
			<form method="post" action="{% url 'user_find_pwd' %}">
				{% csrf_token %}
			<table class="register">

			<tr>
				<td class="register_left" >邮箱地址&nbsp;&nbsp;</td>
				<td class="reg_input">
					{% if email %}
					<input type="text" value="{{ email }}" name="email" class="input-len form-control width-80"/>
					{% else %}
					<input type="text" value="" name="email" class="input-len form-control width-80"/>
					{% endif %}
				</td>
				<td class="reg_msg_email">&nbsp;</td>
			</tr>
				{% if code == 0 %}
				<tr>
					<td class="register_left" ></td>
					<td class="reg_input"><font color="red">注册邮箱地址不存在：{{ email }}</font></td>
					<td class="reg_msg_email">&nbsp;</td>
				</tr>
				{% endif %}
				{% if code == 2 %}
				<tr>
					<td class="register_left" ></td>
					<td class="reg_input"><font color="red">邮件发送失败！</font></td>
					<td class="reg_msg_email">&nbsp;</td>
				</tr>
				{% endif %}
				<tr>
					<td class="register_left" ></td>
					<td class="reg_input" style="font-size:14px;color:#696969;line-height:25px;">请填写你的注册邮箱，系统会通过邮件帮您找回密码。</td>
					<td class="reg_msg_email">&nbsp;</td>
				</tr>
				<tr>
					<td class="register_left" ></td>
					<td class="reg_input"></td>
					<td class="reg_msg_email">&nbsp;</td>
				</tr>
				<tr>
					<td class="register_left" ></td>
					<td class=""><button class="btn btn-sm btn-site" type="submit">找回密码</button></td>
					<td class="reg_msg_email">&nbsp;</td>
				</tr>
			</table>
			</form>
			{% endif %}
			{% if step == 2 %}
			<table class="register">
				<tr>
					<td class="register_left" ></td>
					<td class="reg_input">请登录您的注册邮箱，点击邮件中的链接来重置您的密码。</td>
					<td class="reg_msg_email">&nbsp;</td>
				</tr>
			</table>
			{% endif %}

		</div>
	</div>
</div>
</div>
</div>

{% endblock %}