{% extends "layout/base_home.html" %}
{% block content %}
<style>
.input-icon.input-icon-right > input{
    padding-right: 30px;
}
.reg-line{
   
}
.nav-tabs{
    border-color:#CCCCCC;
}
.widget-box{
    margin-top:0px;
}
.widget-main{
    padding-top:35px;
}
.nav-tabs > li > a, .nav-tabs > li > a:focus{
    border-color:#CCCCCC;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-color:#643233 #CCCCCC rgba(0, 0, 0, 0);
}
.tab-content{
    border:none;
    padding:0;
    position: inherit;
}
</style>
<div id="login" class="row" style="margin-top:50px;">
    <div class="col-sm-3 col-md-2"></div>
    <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="color:#7D3E3F;">新用户注册</h3>
          </div>
          <div class="panel-body">
            <form id="reg_form" class="form-horizontal" action="{% url 'user_register' %}" method="post" onsubmit="return gotoReg();">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="form-field-1" class="col-sm-3 control-label">邮箱<span class="red">*</span></label>
                    <div class="col-sm-6">
                        <span class="input-group reg-line">
                        <input id="form-field-1" type="text" name="email" value="{% if email %}{{email}}{% else %}{{objMap.email}}{% endif %}"  placeholder="电子邮箱" class="width-100 form-control"/>
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        </span>
                        <span class="help-inline help-block red">{{errorMap.email}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="form-field-2" class="col-sm-3 control-label no-padding-right">昵称<span class="red">*</span></label>
                    <div class="col-sm-6">
                        <span class="input-group reg-line">
                        <input id="form-field-2" type="text" name="nick" value="{{objMap.nick}}" placeholder="昵称" class="form-control"/>
                            <span class="input-group-addon"><i class="fa fa-user fa-lg"></i></span>
                        </span>
                        <span class="help-inline help-block red">{{errorMap.nick}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="form-field-3" class="col-sm-3 control-label no-padding-right">密码<span class="red">*</span></label>
                    <div class="col-sm-6">
                        <span class="input-group reg-line">
                        <input id="form-field-3" type="password" name="password" value="{{objMap.password}}" placeholder="密码 至少6位" class="form-control"/>
                        <span class="input-group-addon"> <i class="fa fa-lock fa-lg"></i></span>
                        </span>
                        <span class="help-inline help-block red">{{errorMap.password}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="form-field-4" class="col-sm-3 control-label no-padding-right">重复密码<span class="red">*</span></label>
                    <div class="col-sm-6">
                        <span class="input-group reg-line">
                        <input id="form-field-4" type="password" name="repwd" value="{{objMap.repwd}}" placeholder="重复密码" class="form-control"/>
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                        </span>
                        <span class="help-inline help-block red">{{errorMap.repwd}}</span>
                    </div>
                </div>

            
                {% if add_error %}
                <div class="form-group">
                    <label  class="col-sm-3 control-label no-padding-right"></label>
                    <div class="col-sm-6">
                        <span class="help-inline help-block red">{{add_error}}</span>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="form-field-1" class="col-sm-3 control-label no-padding-right">&nbsp;</label>
                    <div class="col-sm-6">
                        <button class="btn btn-site btn-sm col-sm-3" type="submit" id="submit-btn">
                            注册<i class="fa fa-arrow-right "></i>
                        </button>
                    </div>
                </div>
                
            </form>
          </div>
          <div class="panel-footer text-center">
            <a class=""  href="{% url 'login' %}" ><i class="fa fa-arrow-left"></i>已有帐号</a>
            </div>
        </div>
    </div>
</div>

<script>

jQuery(function(){
    $('[data-rel=tooltip]').tooltip({container:'body'});
});
function checkBasicInfo(){
    $(".help-inline").text('');
    var email=$.trim($("input[name=email]").val());
    var nick=$.trim($("input[name=nick]").val());
    var pwd=$.trim($("input[name=password]").val());
    var repwd=$.trim($("input[name=repwd]").val());
    var status=true;
    if(email==""){
        $("input[name=email]").parent().next(".help-inline").text("请填写电子邮箱！");
        status=false;
    }
    if(nick==""){
        $("input[name=nick]").parent().next(".help-inline").text("请填写昵称！");
        status=false;
    }
    if(pwd==""){
        $("input[name=password]").parent().next(".help-inline").text("请填写密码！");
        status=false;
    }
    if(pwd.length<6){
        $("input[name=password]").parent().next(".help-inline").text("密码至少6位！");
        status=false;
    }
    if(pwd!=repwd){
        $("input[name=repwd]").parent().next(".help-inline").text("二次密码不一致！");
        status=false;
    }
    return status;
}
</script>

<script>

function gotoReg(){
    $("#submit-btn").addClass('disabled');
    var status=checkBasicInfo();
    // if($.trim($("input[name=code]").val())==""){
    //     status=false;
    //     $("input[name=code]").parent().next(".help-inline").text("请填写邀请码！");
    // }
    if(!status){
        $("#submit-btn").removeClass('disabled');
    }
    return status;
}

</script>

{% endblock %}