{% extends "layout/base.html" %}
{% block css %}
<!--basic styles-->

<link href="{{STATIC_URL}}assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/font-awesome.min.css" />

<!--
<link rel="stylesheet" href="{{STATIC_URL}}lib/fontcustom/fontcustom.css" />
-->

<!--[if IE 7]>
  <link rel="stylesheet" href="{{STATIC_URL}}assets/css/font-awesome-ie7.min.css" />
<![endif]-->

<!--page specific plugin styles-->
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/colorbox.css">
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/jquery-ui-1.10.3.full.min.css" />
<!--fonts-->

<link rel="stylesheet" href="{{STATIC_URL}}css/font-css.css" type="text/css" />

<!--ace styles-->

<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace.min.css" />
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace-responsive.min.css" />
<link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/maqmall.css" type="text/css" />

<!--[if lte IE 8]>
  <link rel="stylesheet" href="{{STATIC_URL}}assets/css/ace-ie.min.css" />
  <script src="{{STATIC_URL}}assets/js/jquery-1.10.2.min.js"></script>
<![endif]-->
<![if !IE]>
<script src="{{STATIC_URL}}lib/jquery/dist/jquery.min.js"></script>
<![endif]>

<script src="{{STATIC_URL}}lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{% endblock %}
{% block body %}
    {% block header %}{% include "layout/header.html" %}{% endblock %}
    <div class="main-container container-fluid clearfix" style="margin-bottom:50px;">
        {% block menu %}{% include "layout/menu.html" %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" style="bottom:22px;">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
    {% block footer %}{% include "layout/footer.html" %}{% endblock %}
{% endblock %}