<div class="clearfix"></div>
<footer class="footer-home clearfix">
        <!--
        <ul class="clearfix">
            <li><a href="#">关于本站</a></li>
            <li><a href="#">官方微博</a></li>
            <li><a href="#">常见问题</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
        -->
        <div class="container">
            <div>
      
                    <div class="text-center"  style="clear:both;">
                        <div >&copy; 2014  版权所有 <span style="font-size:12px;color:#BBBBBB;">备案号 浙ICP备</span>  
                    
                        </div>
                    </div>

                </div>
                

                 
        </div>

</footer>
<div class="hide">
<script type="text/javascript">
//百度统计
</script>
</div>


        
        <script src="{{STATIC_URL}}lib/django_ajax.js"></script>

        <script src="{{STATIC_URL}}lib/bootstrap/dist/js/bootstrap.min.js"></script>


        

        <!--inline scripts related to this page-->